.header {
    width: 100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.logo {
    width: 300px;
    object-fit: contain;
    margin-top: 20px;
}

.hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.hamburger-block {
    width: 100%;
    height: 3px;
    background-color: rgb(236, 236, 236);
}

.nav {
    padding: 10px 0px;
}

.nav_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.nav_list li {
    font-size: 1.5rem;
    color: var(--white);
    transition: all .3s ease-out;
}

.nav_list li:hover {
    cursor: pointer;
    transition: all .3s ease-in;
}

.icon {
    width: 50px;
    object-fit: contain;
    font-size: 1.5rem;
    cursor: pointer;
}

.facebook:hover {
    color: var(--facebook);
}

.youtube:hover {
    color: var(--youtube);
}

.nav-link::after {
    content: "";
    display: block;
    border-bottom: 2px solid #fff;
    opacity: 0;
    transform: scale(0, 1);
    transition: all ease-in 400ms;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.social-nav-links-wrapper {
    display: none;
}

@media screen and (max-width:1024px) {
    .header {
        width: 100%;
        padding: 0px 30px;
    }
    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        z-index: 40;
    }
    .hamburger-block {
        width: 100%;
        height: 3px;
        border-radius: 20px;
    }
    .logo {
        width: 30%;
        min-width: 170px;
        object-fit: contain;
    }
    .nav_list {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70vw;
        background-color: rgb(255, 255, 255);
        flex-direction: column;
        justify-content: flex-start;
        gap: 70px;
        padding-top: 25px;
        transform: translateX(100%);
        z-index: 50;
        transition: transform .5s ease-in;
    }
    .nav_list li {
        color: #000;
        opacity: 0;
    }
    .nav_list li:hover {
        cursor: pointer;
        transition: all .3s ease-in;
    }
    .nav_list .hamburger-block {
        height: auto;
        font-size: 2rem;
        font-weight: bolder;
        background-color: transparent;
        border-radius: 0px;
    }
    .social-nav-links-wrapper {
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .show {
        transform: translateX(0%);
        /* transform: translateX(-100px); */
        -webkit-box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.41);
        box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, 0.41);
    }
    .fade-in {
        animation: navLinkFade 1.2s ease forwards;
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(70px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .fade-out {
        animation: navLinkFadeOut 1.2s ease backwards;
    }
    @keyframes navLinkFadeOut {
        from {
            opacity: 1;
            transform: translateX(0px);
        }
        to {
            opacity: 0;
            transform: translateX(70px);
        }
    }
}